apiVersion: newrelic.com/v1beta2
kind: Instrumentation
metadata:
  name: newrelic-instrumentation
  # Remove "namespace: argocd" if you want it to deploy to the same namespace 
  # as the rest of the chart (which is usually better practice). 
  # If you strictly need it in 'argocd', keep it, but Helm usually manages 
  # resources in the release namespace.
  namespace: argocd 
spec:
  agent:
    language: python
    image: newrelic/newrelic-python-init:latest
    env: []
  namespaceLabelSelector:
    matchExpressions:
      - key: "kubernetes.io/metadata.name"
        operator: "In"
        values: ["default"]
